p{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App-header h1 {
  color: #d26c22;
}
.App-header input {
    width: 200px;
    height: 27px;
    border-radius: 5px ;
    border: 1px solid #d26c22;
    margin-bottom: 20px;
}
.App-header button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #d26c22;
  color: white;
}
.question-icon{
  border-radius: 50%;
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: white;
  color: #d26c22;
  margin-right: 3px;
}
.search-box{
  display: flex;
}

.container{
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.table-box{
  width: 18%;
  border: 1px solid black;
  margin: 10px;
}
.row {
  height: 30px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.column{
  width: 50%;
  text-align: center;
}
.date{
  background-color: #FF6602;
}
.gray-row {
  background-color: rgb(184, 184, 184);
}
@media (max-width: 980px) {
  .table-box{
    width: 45%;
    border: 1px solid black;
    margin: 10px;
  }
}
@media (max-width: 580px) {
  .table-box{
    width: 90%;
    border: 1px solid black;
    margin: 10px;
  }
}
.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 10px;
  height: 10px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

