.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App-header h1 {
  color: #d26c22;
}
.App-header input {
    width: 12%;
    height: 27px;
    border-radius: 5px ;
    border: 1px solid #d26c22;
    margin-bottom: 20px;
}
.App-header button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #d26c22;
  color: white;
}
.question-icon{
  border-radius: 50%;
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: white;
  color: #d26c22;
  margin-right: 3px;
}

